#!jinja2
########################
{% set MODEL        = 'GEFS' %}
{% set DOWNLOAD_DATA = False %}
{% set TOP_DIR_OUTPUT   = "/scratch2/NCEPDEV/stmp3/Neil.Barton/DIAG" %}
{% set TOP_DIR_FIGURES   = "/scratch2/NCEPDEV/stmp3/Neil.Barton/FIGURES" %}

####################################
# times in experiments
{% if MODEL == 'GFS' %}
    {% set EXPS = 'HR1, HR2' %}
    {% set MEMBERS = 1 %}
    {% set AICE_VAR     = 'aice_h' %}
    {% set ICP = '20180101T12' %}
    {% set FCP = '20221231T12' %}
{% elif MODEL == 'GEFS' %}
    {% set EXPS = 'EP4' %}
    {% set MEMBERS = 11 %}
    {% set AICE_VAR     = 'aice_d' %}
    {% set ICP = '20171004T00' %}
    {% set FCP = '20210922T00' %}
{% endif %}

####################################
# define suite
[meta]
    title = "grab and analyize CICE output"

[cylc]
    UTC mode = True
    [[environment]]
        MAIL_ADDRESS = neil.barton@noaa.gov
    [[parameters]]
        cice_var = {{ AICE_VAR }}
        experiment = {{ EXPS }}
        mem = 0..{{ MEMBERS - 1 }}
        poles = 'north', 'south'

[scheduling]
    initial cycle point = {{ ICP }}
    final cycle point = {{ FCP }}
    max active cycle points = 20
    [[queues]]
        [[[default]]]
            limit = 42
    [[dependencies]]

################################################
# download data if needed from HPSS
{% if DOWNLOAD_DATA %}
        [[[R1]]]
            graph = """
                GRAB_OBS
                """
{% if MODEL == 'GFS' %}
%include INC/GFS_experiments.rc
{% elif MODEL == 'GEFS' %}
%include INC/GEFS_experiments.rc
{% endif %}
{% endif %} # if DOWNLOAD_DATA

################################################
# parsing data diagnostics at the last cycle point
        [[[R1/P0Y]]]
            graph = """
{% if not DOWNLOAD_DATA %}
                 POST_PARSE 
{% endif %}
                 POST_PARSE => MAPS_ICE_CON
                 POST_PARSE => CALC_ICE_EXTENT 
                 POST_PARSE => INTERP_FOR_IIEE

                 CALC_ICE_EXTENT:succeed-all => plot_ice_extent
                 
                 INTERP_FOR_IIEE:succeed-all => CALC_IIEE
                 CALC_IIEE:succeed-all   => plot_iiee
                """

################################################
# tasks
[runtime]
    [[root]] 
        init-script = """
umask 022
set -xu
export SCRIPT_DIR=${CYLC_SUITE_DEF_PATH}/SCRIPTS
"""
        post-script = """
rm -r ${CYLC_TASK_WORK_DIR}
        """
        [[[environment]]]
            AICE_VAR            = {{ AICE_VAR }}
            DTG                 = $(cylc cycle-point --template=%Y%m%d%H)
            TOP_DIR_OUTPUT      = {{ TOP_DIR_OUTPUT }}
            MODEL               = {{ MODEL }}
            TOP_DIR_FIGURES     = {{ TOP_DIR_FIGURES }}
            EXPS                = {{ EXPS }}
        [[[job]]]
            execution retry delays = 3*PT10M
            batch system = slurm
        [[[events]]]
            failed handler  = cylc email-task
            submission failed handler = cylc email-task
        [[[directives]]]
            --account = marine-cpu
            --ntasks = 1
            --time = 00:15:00
            --mem = 0
            #--qos = debug

####################################
# grab experiments and obs
    [[HPSS]]
        [[[directives]]]
            --partition = service
    [[GRAB_EXPS]]
        inherit = HPSS
    [[grab<experiment>_from_hpss]]
        inherit = GRAB_EXPS
        script = """
        EXP=${CYLC_TASK_PARAM_experiment}
        source ${CYLC_SUITE_DEF_PATH}/SCRIPTS/EXP_details.sh
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/GRAB_exps_from_hpss.sh ${DTG} ${DIR_HPSS} ${TOP_DIR_OUTPUT}/${EXP}
        """
        #[[[job]]]
        #    batch system = background
    [[GRAB_OBS]]
        inherit = HPSS 
    [[grab_sea_ice_exents]]
        inherit = GRAB_OBS
        script = """
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/GRAB_ice_extent_from_hpss.sh 
        """

################################################
# parse data
    [[PARSE_OUTPUT_CICE]]
    [[parse_output<experiment><mem><cice_var>]]
        inherit = PARSE_OUTPUT_CICE
        script = """
        VAR=${CYLC_TASK_PARAM_cice_var}
        EXP=${CYLC_TASK_PARAM_experiment}
        MEM=${CYLC_TASK_PARAM_mem}
        source ${CYLC_SUITE_DEF_PATH}/SCRIPTS/EXP_details.sh
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/CICE_parse_output.sh ${DTG} ${VAR} ${TOP_DIR_OUTPUT}/${EXP} ${MEM}
        """
        #[[[job]]]
        #    batch system = background
    [[ENSEMBLE_COMBINE]]
    [[ensemble_combine<experiment><cice_var>]]
        inherit = ENSEMBLE_COMBINE
        script = """
        VAR=${CYLC_TASK_PARAM_cice_var}
        EXP=${CYLC_TASK_PARAM_experiment}
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/ENS_combine_files.sh ${DTG} ${VAR} ${TOP_DIR_OUTPUT}/${EXP} 
        """
        #[[[job]]]
        #    batch system = background
   [[POST_PARSE]]
        script = """ 
        echo "POST_PARSE is a dummy task"
        """
        [[[job]]]
            batch system = background

################################################
# diagnostics
   [[CALC_ICE_EXTENT]]
   [[calc_ice_extent<experiment>]]
        inherit = CALC_ICE_EXTENT
        script = """
        EXP=${CYLC_TASK_PARAM_experiment}
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/CALC_ice_extent.py -d ${TOP_DIR_OUTPUT} -e ${EXP} -v ${AICE_VAR}
        """
        [[[directives]]]
            --time = 04:00:00
   [[plot_ice_extent]]
        script = """
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/PLOT_ice_extent.py -d ${TOP_DIR_OUTPUT} -e ${EXPS} -v ${AICE_VAR}
        """
   [[INTERP_FOR_IIEE]]
   [[interp_for_iiee<experiment>]]
        inherit = INTERP_FOR_IIEE
        script = """
        EXP=${CYLC_TASK_PARAM_experiment}
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/INTERP_iiee.py -d ${TOP_DIR_OUTPUT} -e ${EXP} -v ${AICE_VAR}
        """
        [[[directives]]]
            --time = 08:00:00
   [[CALC_IIEE]]
   [[calc_iiee<experiment>]]
        inherit = CALC_IIEE
        script = """
        EXP=${CYLC_TASK_PARAM_experiment}
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/CALC_iiee.py -d ${TOP_DIR_OUTPUT} -e ${EXP} -v ${AICE_VAR}
        """
        [[[directives]]]
            --time = 08:00:00
   [[plot_iiee]]
        script = """
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/PLOT_iiee.py -d ${TOP_DIR_OUTPUT} -v ${AICE_VAR} -e ${EXPS}
        """
   [[MAPS_ICE_CON]]
   [[maps_ice_concentration<poles><experiment>]]
        inherit = MAPS_ICE_CON
        script = """
        EXP=${CYLC_TASK_PARAM_experiment}
        POLE=${CYLC_TASK_PARAM_poles}
        ${CYLC_SUITE_DEF_PATH}/SCRIPTS/CICE_maps.py -d ${TOP_DIR_OUTPUT} -e ${EXP} -v ${AICE_VAR} -p ${POLE}
        """
        [[[directives]]]
            --time = 08:00:00
            --qos = batch
            --mem = 0
   
