[credential]
    helper = store --file ~/.git-credentials
[credential "https://github.com"]
    username = NeilBarton-NOAA
[url "https://github.com/NOAA-EMC/"]
    insteadof = gitEMC:
[url "https://github.com/NeilBarton-NOAA/"]
    insteadof = gitNPB:

[user]
	email = neil.barton@noaa.gov
	name = NeilBarton-NOAA
[push]
	default = simple
