*txt
*.nc
*.pkl
*.png
*.pyc
.bash_history
.bash_logout
.bash_profile
.cache
.conda/
.config
.dbus
.emacs
.fontconfig
.globus/
.java/
.ipython/
.kshrc
.lesshst
.lmod.d/
.local
.profile
.python_history
.rocoto/
.snapshot/
.ssh/authorized_keys
.ssh/id*
.ssh/known_hosts
.sh_history
.urs_cookies
.vim/
.viminfo
.Xauthority
.zshrc
UFS/CONF/
UFS/FIGURES/
