*txt
*.nc
*.pkl
*.pyc
.bash_history
.bash_logout
.bash_profile
.cache
.config
.dbus
.emacs
.fontconfig
.globus/
.ipython/
.kshrc
.lesshst
.lmod.d/
.local
.profile
.rocoto/
.ssh/authorized_keys
.ssh/id*
.ssh/known_hosts
.sh_history
.vim/
.viminfo
.Xauthority
.zshrc
UFS/CONF/
UFS/FIGURES/
UFS/TIMING_TOOLS/__pycache__/
