
[submodule "REPLAY_ICS"]
	path = REPLAY_ICS
	url = https://github.com/NeilBarton-NOAA/REPLAY_ICS
[submodule "DIAG_SUITE"]
	path = DIAG_SUITE
	url = https://github.com/NeilBarton-NOAA/DIAG_SUITE.git
[submodule "RUN-UFS"]
	path = RUN-UFS
	url = git@github.com:NeilBarton-NOAA/RUN-UFS.git
