*txt
*.nc
*.pkl
*.png
*.pyc
.bash_history
.bash_logout
.bash_profile
.cache
.conda/
.config
.cylc/
.dbus
.emacs
.fontconfig
.globus/
.java/
.ipython/
.kshrc
.lesshst
.lmod.d/
.local
.ncviewrc
.profile
.python_history
.rocoto/
.snapshot/
.ssh/authorized_keys
.ssh/id*
.ssh/known_hosts
.sh_history
.urs_cookies
.vim/
.viminfo
.Xauthority
.zshrc
ANALYSIS/CICE/interactive_node.sh
TOOLS/cylc-7.8.1/
TOOLS/Miniconda3-latest-Linux-x86_64.sh
TOOLS/modulefiles/rocoto/
UFS/CONF/
UFS/FIGURES/

